ul {
    padding: 0px 12px;
    margin-top: -8px;
}

.flip-card p {
    margin-top: -8px;
}

.flip-card {
    width: 300px;
    height: 350px;
    border-radius: 20px;
    position: relative;
    margin: 10px 0px;
}

.flip-card-front,
.flip-card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 20px;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: whitesmoke;
    color: black;
    line-height: 20px;
}

.flip-card-front > * {
    margin: 0px 10px;
}

.flip-card-back {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flip-card-back img {
    width: 100px;
}

.internship-company {
    display: flex;
    justify-content: center;
}

.internship-company img {
    height: 35px;
    margin: 10px 0px;
}
