.pills {
    display: flex;
}

.pills p {
    border-radius: 12px;
    color: whitesmoke;
    padding: 4px;
    margin-right: 4px;
    align-self: flex-end;
}

.pills p:last-child {
    margin-right: 0px;
}
